/*headrer*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    background-color: black;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color:  rgb(114, 60, 112);
    border-bottom: 1px solid #ccc;
    color: #ddd;
}


header img {
    width: 40px;
    height: 40px;
}
 

.logo {
    height: auto ;
    width: 8%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.links a:active {
    text-decoration: underline;
    color: red;
    
}


nav {
    flex-grow: 1;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 15px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: none;
    color: #333;
}

.search {
    margin-left: auto;
}

.search input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Main Page*/

h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    background-color: rgb(137, 43, 100);
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

main p {
    font-size: 35px;
    text-align: center;
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.container img {
    width: 100%;
    height: 200px;
}

section {
    margin-bottom: 50px;
    background-color: azure;
    padding: 1%;
}

h2 {
    text-align: center;
    background-color: rgb(92, 77, 125);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 33px;
}

.item-grid {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 10%;
}

.item {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item:hover {
    background-color: rgb(114, 60, 112);

}

.image-placeholder {
    background-color: rgb(250, 237, 205);
    width: 100%;
    height: 200px;
    border: 1px dashed #aaa;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

p {
    font-size: 14px;
    color: #222222;
}

.item-description {
    font-size: 16px;
    color: #201f1f;
    margin-top: 10px;
}

.item-description .price {
    display: none; 
}

.item:hover .item-description .price {
    display: inline; 
    font-weight: bold;
    background-color: rgb(201, 173, 167);
    padding: 5px;
}

.item:hover .image-placeholder {
    transform: scale(1.1); 
}


/* footer */
footer {
    color: rgb(white);
    background-color: rgb(114, 60, 112);
    margin: 0;
    padding: 10px 0;
    font-size: 15px; 
}

.lastpara {
    font-size: 30px; 
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 0.5%;
    padding: 0.5%;
}

#ghs {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    margin: 2%;
    padding: 1%;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(141, 167, 195);
    height: auto;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    margin: 0.5% 0;
    padding: 0.5% 0;
}

.social a {
    text-decoration: none;
    font-size: 4em; 
    padding: 3px 7px; 
    color: white;
    transition: transform 0.3s ease;
}

.social a:hover {
    transform: scale(1.1);
}

.mov {
    text-decoration: none;
    padding: 3px 7px;
    color: white;
    margin-bottom: 1px;
    font-size: 15px; 
    text-align: center;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5px; 
    margin-bottom: 1px;
    font-size: 15px; 
}

footer .contact input {
    padding: 3px;
    width: 150px; 
}

.copy {
    font-size: 15px; 
    text-align: left;
    margin-top: 5px;
}


/* Responsive Design */
@media (min-width: 720px) {
    .intro {
        font-size: 35px;
        text-align: center;
    }

    .container img {
        width: 100%;
        height: 250px;
    }

    .image-placeholder {
        background-color: #ddd;
        width: 100%;
        height: 250px;
        border: 1px dashed #aaa;
    }


    

}